@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    transition: all 0.6s ease-in-out;
    font-family: 'Poppins', sans-serif;
}




nav{
    background-color: white;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid #444;
    border-radius: 100px;
    
    margin-top: 20px;
    width: 90%;
    z-index: 1000;
    border-top: 1px solid #444;
    opacity: 0.9;
    margin-left: 65px;

}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-family:  Poppins, sans-serif;
   
    
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.6s ease-in-out;
    font-family:   Poppins, sans-serif;
    position: relative;
   
}


  


.logo{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family:   Poppins, sans-serif;
    padding-right: 300px;
    align-items: flex-start;
}


.link:hover{
    color: gray;
}

.link::before,
.link::after{
    content: '';
   position: absolute;
   bottom: -5px;
    width: 0;
    height: 4px;
    background-color: black;
    transition: width .3s ease;
}

.link::before::before{
    left: 0;
}
.link::after{
    right: 0;
}

.link:hover::before,
.link:hover::after{
    width: 50%;
    transition: width .5s ease;
}


.premios-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: ;
    
    gap: 20px;
    font-family:   Poppins, sans-serif;
}

.premios-container h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center ;
}

.caixa-principal {
    
    justify-content: center ;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: solid 2px black;
    transition: 0.5s ease-out;
}

 img{
    width: 20%;
    
    border-radius: 10px;
}


.caixas{
    display: flex;
    gap: 40px;
}


    
    


.content{
    justify-content: center;
}

.nomeado{
    background-color: gold;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}

.content p{
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    
}

.imagem-principal{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.caixa-principal:hover{
    
    transition: 0.5s ease-out;
    
}

.venceu{
    background-color: gold;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}

.trofeu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.trofeu img{
    width: 100px;
}







.caixa-principal:hover{
    transform: scale(1.05);
    transition: 0.5s ease-out;
    
}

.secao2{
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 28px;
    height: 85vh;
    
    
}

.secao2 h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 14px;
    text-align: left;
    border-bottom: 1px #333 solid;
}

th{
    font-weight: 600;
    font-size: 1rem;
}

td{
    font-weight: 300;
    font-size: 1rem;
}

.u-certificacao{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 700;
    color: #1a1a1a;
    background-color: #d3d3d3;
    white-space: norwap;
}

