@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    transition: all 0.6s ease-in-out;
    font-family: 'Poppins' sans-serif;
}




nav{
    background-color: white;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid #444;
    border-radius: 100px;
    
    margin-top: 20px;
    width: 90%;
    z-index: 1000;
    border-top: 1px solid #444;
    opacity: 0.9;
    margin-left: 65px;

}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-family:  Poppins, sans-serif;
   
    
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.6s ease-in-out;
    font-family:   Poppins, sans-serif;
    position: relative;
   
}


  


.logo{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family:   Poppins, sans-serif;
    padding-right: 300px;
    align-items: flex-start;
}


.link:hover{
    color: gray;
}

.link::before,
.link::after{
    content: '';
   position: absolute;
   bottom: -5px;
    width: 0;
    height: 4px;
    background-color: black;
    transition: width .3s ease;
}

.link::before::before{
    left: 0;
}
.link::after{
    right: 0;
}

.link:hover::before,
.link:hover::after{
    width: 50%;
    transition: width .5s ease;
}


.albuns{
    display: flex;
    flex-direction: column;
    
    gap: 40px;
    margin-top: 40px;

    
}
   
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    max-height: none;
    
}

.album1{
    
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin-bottom: 40px;
    font-family:  Poppins, sans-serif;
    background-color: bisque;
    border-radius: 30px;
    color: white;
}
.album-header{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}
.album1 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.info p{
    margin-bottom: 10px;
    font-size: 1.1rem;
    
    
    font-family:  Poppins, sans-serif;}

.info h2{
    
    font-family:  Poppins, sans-serif;
    font-size: 2rem;

}




.reproduzir{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family:  Poppins, sans-serif;
}


.musicas{
    max-height: 0;
    margin-top: 30px;
    list-style: none;
    
    justify-content: center;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: lightblue;
    border-radius: 20px;
    
    
}

.musicas.aberta{
    max-height: 800px;
    transition: max-height 0.5s ease-in;
    grid-column: 1 / -1;

    
}

.musicas li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:  Poppins, sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border: none;
    padding: 20px;
}




.musicas li:hover{
    color: gray;
    
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
}
i{
    justify-content: end;
    
    font-size: 1.2rem;}

.album2{
    
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin-bottom: 40px;
    font-family:  Poppins, sans-serif;
    background-color: darkblue;
    border-radius: 30px;
    color: white;
}

.album2 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.album2 .reproduzir{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family:  Poppins, sans-serif;
}

.album2 .musicas{
    max-height: 0px;
    margin-top: 30px;
    list-style: none;
    
    justify-content: center;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: black;
    border-radius: 20px;
    grid-column: 1 / -1;
    
    
}

.album2 .musicas.aberta{
    max-height: 1200px;
    transition: max-height 0.5s ease-in;
    
}

.album2 .musicas li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:  Poppins, sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border: none;
    padding: 20px;
}


.album3{
    
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin-bottom: 40px;
    font-family:  Poppins, sans-serif;
    background-color: lightblue;
    border-radius: 30px;
    color: white;
}
.album3 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.album3 .reproduzir{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family:  Poppins, sans-serif;
}

.album3 .musicas{
    max-height: 0px;
    margin-top: 30px;
    list-style: none;
    
    justify-content: center;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: white;
    border-radius: 20px;
    color: black;
    
    
}

.album3 .musicas.aberta{
    max-height: 1200px;
    transition: max-height 0.5s ease-in;
    grid-column: 1 / -1;

    
}

.album3 .musicas li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:  Poppins, sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border: none;
    padding: 20px;
}

.album4{
    
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin-bottom: 40px;
    font-family:  Poppins, sans-serif;
    background-color: lightcoral;
    border-radius: 30px;
    color: white;
}
.album4 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.album4 .reproduzir{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family:  Poppins, sans-serif;
}

.album4 .musicas{
    max-height: 0px;
    margin-top: 30px;
    list-style: none;
    
    justify-content: center;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: black;
    border-radius: 20px;
    
    
    
}

.album4 .musicas.aberta{
    max-height: 1200px;
    transition: max-height 0.5s ease-in;
    grid-column: 1 / -1;

    
}

.album4 .musicas li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:  Poppins, sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border: none;
    padding: 20px;
}

