@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    transition: all 0.6s ease-in-out;
}




nav{
    background-color: white;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid #444;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-family:  Poppins, sans-serif;
   
    
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.6s ease-in-out;
    font-family:   Poppins, sans-serif;
    position: relative;
   
}


  


.logo{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family:   Poppins, sans-serif;
    padding-right: 300px;
    align-items: flex-start;
}


.link:hover{
    color: gray;
}

.link::before,
.link::after{
    content: '';
   position: absolute;
   bottom: -5px;
    width: 0;
    height: 4px;
    background-color: black;
    transition: width .3s ease;
}

.link::before::before{
    left: 0;
}
.link::after{
    right: 0;
}

.link:hover::before,
.link:hover::after{
    width: 50%;
    transition: width .5s ease;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    gap: 80px;


}

.content{
   margin-top: -70px;
}

.content h1, .content p, .content a{
    max-width: 60rem;
    margin-left: 60px;
    
}

.content h1{
    font-size: 4rem;
    font-family:   Poppins, sans-serif;
    margin-bottom: 1rem;
    font-style: bold;
    
}

.content p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family:   Poppins, sans-serif;
    line-height: 1.5;
    padding: 1rem 0;
    margin-top: -1rem;
}

.btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family:   Poppins, sans-serif;
    transition: transform 0.6s;
    
}

.btn:hover{
    
    transform: scale(1.2);
}



.imagem{
    
    margin: 60px;

}
.imagem img{
    width: 550px;
    height: auto;
    border-radius: 30px;
    align-items: center;

}

.secao2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    border-bottom: #fff;

}

.secao2 section{
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    gap: 40px;

}

.content2{
   margin-top: -70px;
   align-items: center;
   justify-content: center;
}
.imagem2 img{
    width: 600px;
    height: auto;
    margin: 40px;
    border-radius: 30px;
    margin-left: -50px;

}

.contet2 h1{
    font-size: 4rem;
    font-family:   Poppins, sans-serif;
    margin-bottom: 1rem;
    font-style: bold;
    

}

.content2 h1, .content2 p{
    max-width: 60rem;
    margin-left: -7px;
   
    
}

.content2 p{
    max-width: 60rem;
    margin-bottom: 2rem;
    font-family:   Poppins, sans-serif;
    line-height: 1.5;
    padding: 1rem 0;
    margin-top: -0.9rem;
    
}



.secao3{

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    color: black;
    font-family: Poppins, sans-serif;
    padding: 50px 0;

}

.secao3 h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family:   Poppins, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}


.caixa-principal{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;

}


.box{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.box img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}


.secao3 section h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
    

}

.box h3{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

a{
    text-decoration: none;

    color: black;

}

.box:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

